<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Home Page</title>
</head>

<body>

    <h1 class="text-center my-3">Status of Payment</h1>

    <div class="container w-75">
        <div class="row">
            <h2 class="text-danger">Payment is cancel</h2>
        </div>

    </div>

</body>

</html>